---
import { getCollection } from 'astro:content';
export const prerender = true;
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import BlogPreview from '../components/BlogPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('blog')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Blog | Murunah ID"
	description="Event Organizer Insight in Jakarta"
>
	<div class="stack gap-20 mt-28">
		<main class="wrapper stack gap-8">
			<Hero
				title="Our Blog"
				tagline="Insight yang kami bagikan tentang Event Organizer dan Digital Marketing."
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<BlogPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
