---
import CallToAction from './CallToAction.astro';
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
const randomNum = Math.floor(Math.random() * 4) + 1;
const numFile = `/assets/err-${randomNum}.webp`
---

<section class="teees ">
  <div class="md:absolute w-full top-0 right-1/2 md:mt-20 md:max-w-4xl transform md:translate-x-1/2 md:clip-path">
    <picture >
      <source srcset={numFile}  media="(prefers-color-scheme: dark)" >
      <img class="rre theme-dark rounded-2xl"  src={numFile} alt="heri" loading="eager">
    </picture>
    
    
  </div>
    <div class="container mx-auto px-4">
      <div class="relative">
        <div class="absolute top-0 left-1/2 mt-20 transform -translate-x-1/2 -ml-20 rounded-full h-20 md:h-128 w-80 md:w-128">
          <img class="object-contain transform scale-200" src="/assets/boldui-assets/elements/shadow-blue-full.svg" alt="">
        </div>
        <div class="absolute top-0 left-1/2 mt-40 lg:mt-20 rounded-full h-20 md:h-128 w-80 md:w-128">
          <img class="object-contain transform scale-200" src="/assets/boldui-assets/elements/shadow-light-7.svg" alt="">
        </div>
      
        <div class="relative pt-14 md:pt-1 max-w-6xl mx-auto lg:mt-5">
          <span class="block mb-4 md:absolute top-0 puss right-0 lg:text-lg font-semibold uppercase tracking-widest">Bangun Bisnismu Bersama Kami</span>
          <h2 class="tessa opacity-0 mb-6 md:mb-0 text-6xl md:text-9xl text-white uppercase font-heading">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-cyan-500"> One-Stop Solution</span>
            <span class="block puss "> <span class="gelap">t</span>o Help MSMEs</span>
            <span class="block text-right puss">Gro<span class="gelap">w</span></span>
          </h2>
          <div class="text-center md:text-left">
          <CallToAction href="https://api.whatsapp.com/send/?phone=6285647059545&text=Assalamualaikum,+saya+ingin+kerja+sama+untuk+membuat+projek">
            Kirim Pesan
            <div class="container" style="width:1.4em">
                <LottieAnimation src="/assets/WA.json" autoplay="visible" />
            
            </div>
        </CallToAction></div>
        </div>
      </div>
    </div>
  </section>

  <style>
    .puss{
      color: var(--gras);
      text-shadow: 0 0 5px var(--gray-100);
      }
    .teees {
		
		background: var(--gray-999-basis);
		
	}
  @keyframes samp {
	0% {
		transform: translateY(-100px);
    transform: scale(0.5);
		transform-origin: 50% 0%;
	}

	100% {
		transform: translateY(0);
    transform: scale(1);
		transform-origin: 50% 0%;
    width: 100%;
	}
}
  .rre{
    animation: samp 1s ease 0s 1 normal forwards;
  }

  @keyframes text {
	0% {
		transform: translateX(-120px);
    opacity: 0;
	}

	100% {
		transform: translateX(0px);opacity: 1;
	}
}
.tessa{
  animation: text 1s ease-in 1s 1 normal forwards;
  
}

  </style>
